
.content-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
    padding-top: 5px;
}

.snake-controls {
    padding-top: 10px;
}

.snake-canvas {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    width: 400px;
    height: 400px;
}

.snake-overlay {
    border: 1px solid #b9b9b9;
    margin-top: -30px;
    padding: 20px;
    width: 400px;
    height: 400px;
}
